<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/navbar.ejs") %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Novo artigo</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/articles/save">
                        <input class="form-control" type="text" name="title" placeholder="Insira o nome do artigo"><br>
                        <textarea class="form-control" name="body" placeholder="Insira seu artigo"
                            id="article"></textarea><br>
                        <button class="btn btn-success">Criar artigo</button>
                    </form>
                </div>

            </div>
        </div>

        <%- include("../../partials/footer.ejs") %>

            <script src="/tinymce/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    language: "pt_BR",
                    selector: "#article",
                    plugins: ['advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons']
                })
            </script>