<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/navbar.ejs") %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Novo artigo</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/articles/save">
                        <input class="form-control" type="text" name="title" placeholder="Insira o nome do artigo"><br>
                        <textarea class="form-control" name="body" placeholder="Insira seu artigo"></textarea><br>
                        <button class="btn btn-success">Criar artigo</button>
                    </form>
                </div>

            </div>
        </div>

        <%- include("../../partials/footer.ejs") %>