<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        GuiaPress
    </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>

</nav>