<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/navbar.ejs") %>

        <div class="container">
            <hr>
            <div class="card mt-5">
                <div class="card-header">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="/authenticate">
                        <input class="form-control" type="email" name="email" placeholder="E-mail"><br>
                        <input class="form-control" type="password" name="password" placeholder="Senha"><br>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-block">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <%- include("../../partials/footer.ejs") %>